<template>
  <form @submit.prevent="addTask">
    <base-wrapper mode="between">
      <input type="text" v-model.trim="inputValue" placeholder="Enter task" />
      <base-button mode="flat">Add task</base-button>
    </base-wrapper>
    <transition name="validation">
      <p v-if="inputIsEmpty">Please enter at least 3 characters.</p>
      <p v-else-if="inputDuplication">This task already exist.</p>
    </transition>
  </form>
</template>

<script>
export default {
  data() {
    return {
      inputValue: "",
      inputIsEmpty: false,
      inputDuplication: false,
    };
  },
  inject: ["list"],
  methods: {
    addTask() {
      this.inputDuplication = false;
      let enteredTask = this.inputValue;

      if (enteredTask === "" || enteredTask.length <= 2) {
        this.inputIsEmpty = true;
        setTimeout(() => {
          this.inputIsEmpty = false;
        }, 2000);
      } else {
        this.inputIsEmpty = false;
        this.list.filter((item) => {
          if (enteredTask == item.task) {
            this.inputDuplication = true;
            return;
          }
        });
        if (!this.inputDuplication) {
          this.list.unshift({ task: enteredTask, checked: false });
          this.inputValue = "";
        }
        setTimeout(() => {
          this.inputDuplication = false;
        }, 2000);
      }
    },
  },
};
</script>

<style scoped>
form {
  width: 100%;
}
input {
  width: 90%;
  padding: 1.5rem 1rem;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
}
p {
  color: lightcoral;
  font-size: 1.3rem;
}
.validation-enter-active {
  animation: enter-from-top 0.15s ease-out;
}
.validation-leave-active {
  animation: leave-to-top 0.15s ease-in;
}
</style>
