<template>
  <li :class="{ done: status }">
    <base-wrapper mode="start">
      <span class="pin" @click="updateStatus"></span>
      <span class="content">
        <div class="line-through"></div>
        <slot></slot>
      </span>
    </base-wrapper>
    <base-button mode="flat" @click="deleteItem"
            >Delete</base-button
          >
  </li>
</template>

<script>
export default {
  props: ["status"],
  methods: {
    updateStatus() {
      this.$emit('updateStatus');
    },
    deleteItem() {
      this.$emit('deleteItem')
    }
  }
};
</script>

<style scoped>
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-size: 2.3rem;
  /* background-color: #202020; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
li:nth-child(1) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
li:last-child {
  border-bottom: unset;
}
.pin {
  margin: 0;
  padding: .7rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.done .pin {
  background-color: #41b883;
}
.content {
  position: relative;
}
.line-through {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
.done .line-through {
  width: 100%;
}
span {
  margin-left: 1.5rem;
  transition: all 0.2s ease-in-out;
}
.done span {
  color: rgba(255, 255, 255, 0.4);
}
</style>
