<template>
  <base-wrapper mode="between">
      <span>Done tasks: {{countDone}}</span>
      <base-button mode="pill" @click="clearDone">{{clearDoneMessage}}</base-button>
  </base-wrapper>
</template>

<script>
export default {
  props: ['clearDoneMessage'],
  inject: ['list'],
  methods: {
    clearDone() {
      this.$emit("clearDone");
    },
  },
  computed: {
    countDone() {
      const filteredDone = this.list.filter(item => {
        return item.checked
      })
        return filteredDone.length + '/' + this.list.length;
    }
  }
};
</script>

<style scoped>
div {
  padding: 1rem;
}
</style>
