<template>
  <base-card mode="no-padding">
    <list-form></list-form>
    <transition name="empty-info">
      <h3 v-if="showMessage">
        It's really simple. Just start adding new tasks to this list ;)
      </h3>
    </transition>

    <transition-group tag="ul" name="task-list">
      <list-item
        v-for="(item, index) in filteredList"
        :key="item"
        :status="item.checked"
        @updateStatus="check(item.task)"
        @deleteItem="deleteItem(index)"
        >{{ item.task }}
      </list-item>
      <list-controls
        v-if="controlsVisibility"
        @clearDone="clearDone"
        :clearDoneMessage="clearDoneMessage"
      ></list-controls>
    </transition-group>
  </base-card>
</template>

<script>
import ListForm from "./ListForm";
import ListItem from "./ListItem";
import ListControls from "./ListControls";

export default {
  components: {
    ListItem,
    ListForm,
    ListControls,
  },
  data() {
    return {
      isDoneHidden: false,
      doneTasksCounter: 0
    };
  },
  inject: ["list"],
  methods: {
    check(content) {
      this.list.filter((el) => {
        if (el.task == content) {
          el.checked = !el.checked;
        }
      });
    },
    deleteItem(index) {
      this.list.splice(index, 1);
    },
    clearDone() {
      this.isDoneHidden = !this.isDoneHidden;
    },
  },
  computed: {
    filteredList() {
      if (this.isDoneHidden) {
        return this.list.filter((item) => {
          return item.checked != true;
        });
      } else {
        return this.list;
      }
    },
    showMessage() {
      return this.list.length === 0;
    },
    controlsVisibility() {
      return this.list.length > 0;
    },
    clearDoneMessage() {
      return this.isDoneHidden ? 'Show done tasks' : 'Hide done tasks';
    },
  },
};
</script>
<style scoped>
ul {
  position: relative;
}
.task-list-enter-active {
  animation: enter-from-top 0.2s ease-out;
}
.task-list-leave-active {
  animation: leave-to-top 0.2s ease-in;
  position: absolute;
}

.empty-info-enter-active {
  animation: enter-from-top 0.5s ease-out;
}
.empty-info-leave-active {
  animation: leave-to-top 0.2s 0.2s ease-in;
}

.task-list-move {
  transition: transform 0.2s;
}
</style>