<template>
  <header>
    <h2>
      <router-link to="/">
        <img src="../../assets/logo.png" alt="logo" />
        {{ appName }}
      </router-link>
    </h2>
    <nav>
      <ul>
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/contact">Contact</router-link></li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  props: ["appName"],
};
</script>

<style scoped>
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin-left: 1rem;
}

img {
  width: 50px;
}
</style>
