<template>
  <h1>Your lists</h1>
  <the-list></the-list>
</template>

<script>
import TheList from "../components/lists/TheList";
export default {
    components: {
        TheList
    }
};
</script>
