<template>
  <the-header appName="ueDo"></the-header>
  <main>
    <router-view></router-view>
  </main>
</template>

<script>
import TheHeader from "./components/layout/TheHeader";

export default {
  name: "App",
  components: {
    TheHeader,
  },
  data() {
    return {
      // list: ["Walk the dog", "take a shawer", "go to a meeting"],
      list: [
        { task: "Walk the dog", checked: false },
        { task: "take a shower", checked: false },
        { task: "go to a meeting", checked: false },
      ],
    };
  },
  provide() {
    return {
      list: this.list,
    };
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #2c3e50;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: white;

  width: 100%;
  min-height: 100vh;
}
main {
  margin: auto;
  max-width: 1000px;
}
a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #41b883;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 6rem;
  margin: 4rem 0;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1.5rem;
}
p{
  padding: 0 1rem 1rem;
  text-align: left;
}
@keyframes enter-from-top {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leave-to-top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-70px);
  }
}
@keyframes leave-to-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}
</style>
