<template>
  <button v-if="!link" :class="mode"><slot></slot></button>
  <router-link v-else :to='to' :class="mode"><slot></slot></router-link>
</template>

<script>
export default {
  props: {
    mode: {
      type: String,
      required: false,
      default: null,
    },
    link: {
      type: String,
      required: false,
      default: null,
    },
    to: {
      type: String,
      required: false,
      default: '/'
    }
  },
};
</script>

<style scoped>
button {
  padding: 1rem;
  border: none;
  font-size: 1.6rem;
}
button:hover {
  cursor: pointer;
}
.flat {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
}
.flat:hover {
  color: #41b883;
}
.pill {
  padding: 1.2rem 2.8rem;
  color: white;
  background-color: #41b883;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(65, 184, 130, .7);
  transition: all .2s ease;
}
.pill:hover {
  box-shadow: 0 4px 10px rgba(65, 184, 130, .75);
  transform: translateY(-2px);
}
.pill:active {
  box-shadow: 0 3px 10px rgba(65, 184, 130, .75);
  transform: translateY(-1px);
}
</style>
