<template>
    <div :class="mode">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        mode: {
            type: String,
            required: true,
            default: 'center'
        }
    }
}
</script>

<style scoped>
    div {
        display: flex;
        align-items: center;
    }
    .start {
        justify-content: flex-start;
    }
    .center {
        justify-content: center;
    }
    .end {
        justify-content: flex-end;
    }
    .between {
        justify-content: space-between;
    }
    .around {
        justify-content: space-around;
    }
</style>