<template>
    <div :class="mode">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        mode: {
            type: String,
            reqiured: false,
            default: null
        }
    }
}
</script>

<style scoped>
    div {
        padding: 2rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
        background-color: #202020;
    }
    .no-padding {
        padding: 0;
    }
</style>